<div class="card py-4 postCard mb-4" 
data-toggle="tooltip" data-placement="left" title="Tooltip on left">
    <div class="card-header postHeader">
       <h4 class="m-0 title">
        {{postObj.title}}
       </h4>
    </div>
    <div class="card-body">
        <div class="userId">
            <h5 class="m-0">
                <strong>UserId</strong> :{{postObj.id}}
            </h5>
        </div>
        <div class="userbody">
            <p class="m-0">
              <strong>Post Details</strong>  {{postObj.body}}
            </p>
        </div>
    </div>
</div>